// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.container{
  background-color: lightgrey;
  border-radius: 10px;
  width: 80%;
  border: 1px solid grey;
  margin: auto;
  padding: 10px;
}

.intro{
  background-image: asset-url("002.jpg");
  text-align: center;
  height: 1000px;
  color: white;
}

.card{
  border-radius: 1%;
  background-color: lightgoldenrodyellow;
  padding: 20px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  margin: auto;
}

.btns{
  background-color: goldenrod;
  border-radius: 2%;
  padding: 5px;
  width: max-content;
  font-size: larger;

  a{
    color: navy;
    text-decoration: none;
  }
}

.imageshow{
  margin: auto;
}
