// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.container{
  background-color: lightgrey;
  border-radius: 10px;
  width: 80%;
  border: 1px solid grey;
  margin: auto;
  padding: 10px;
}

.intro{
  background-image: asset-url("002.jpg");
  text-align: center;
  height: 1000px;
  color: white;
}
